* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc( 100% / 3 - 8px);
    margin: 0 4px;
}

.product {
    position: relative;
}

.product img {
    width: 100%;
    display: block;
}

.product-discount {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: white;
    padding: 10px;
}

.product-sostenibility {
    background-color: green;
    position: absolute;
    left: 60px;
    bottom: 10px;
    color: white;
    padding: 10px;
}

.product-wishlist {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 30px;
    text-align: center;
    background-color: white; 
}

.product .product-img-2 {
    display: none;
}

.product:hover .product-img-1 {
    display: none;
}

.product:hover .product-img-2 {
    display: block;
}

.discounted-price {
    color:red;
}

.original-price {
    text-decoration: line-through;
}
